This notebook explores historical 1-bedroom median rents in major U.S. cities using Zillowâ€™s public dataset. I wanted to understand how affordability has shifted over time, and this notebook is the first step: loading and transforming raw rent data.

## 1. Gather data

First I'm going to download the raw data for the Zillow Observed Rent Index for the cities I'm interested in. I'm looking for city rent data over time, so I want something longitudinal.

![Alt text](image1.png)

In [21]:
import pandas as pd
import requests

In [22]:
# Read in the CSV file
df = pd.read_csv('City_zori_uc_sfrcondomfr_sm_month.csv')

# Display basic information about the dataframe
print("DataFrame Info:")
print(df.info())

# Show the first few rows
print("\nFirst few rows:")
print(df.head())

# Display column names
print("\nColumn names:")
print(df.columns.tolist())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3307 entries, 0 to 3306
Columns: 130 entries, RegionID to 2025-02-28
dtypes: float64(122), int64(2), object(6)
memory usage: 3.3+ MB
None

First few rows:
   RegionID  SizeRank   RegionName RegionType StateName State  \
0      6181         0     New York       city        NY    NY
1     12447         1  Los Angeles       city        CA    CA
2     39051         2      Houston       city        TX    TX
3     17426         3      Chicago       city        IL    IL
4      6915         4  San Antonio       city        TX    TX

                                   Metro          CountyName   2015-01-31  \
0  New York-Newark-Jersey City, NY-NJ-PA       Queens County  2519.633872
1     Los Angeles-Long Beach-Anaheim, CA  Los Angeles County  1829.491393
2   Houston-The Woodlands-Sugar Land, TX       Harris County  1192.772833
3     Chicago-Naperville-Elgin, IL-IN-WI         Cook County  1525.898035
4          San Antonio-New Braunfels, TX        Bexar County   994.108337

    2015-02-28  ...   2024-05-31   2024-06-30   2024-07-31   2024-08-31  \
0  2532.526220  ...  3471.695054  3507.169000  3527.537949  3530.370179
1  1844.612499  ...  2817.809080  2828.720362  2840.709137  2846.201537
2  1196.480207  ...  1588.762190  1599.384752  1603.832709  1605.936383
3  1534.847198  ...  2135.297477  2154.853317  2161.770567  2157.918278
4   997.530557  ...  1434.863066  1437.503190  1438.405606  1436.567604

    2024-09-30   2024-10-31   2024-11-30   2024-12-31   2025-01-31  \
0  3514.693097  3492.480172  3468.327426  3453.597591  3458.924544
1  2849.944139  2845.777630  2842.472672  2834.889984  2861.149444
2  1606.777190  1606.008116  1601.293595  1596.883827  1595.994789
3  2149.395505  2139.618246  2138.892360  2141.078458  2151.641380
4  1430.043966  1414.588476  1405.290319  1399.937448  1405.874726

    2025-02-28
0  3488.735636
1  2884.217593
2  1598.473864
3  2172.130290
4  1412.425356

[5 rows x 130 columns]

Column names:
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28']

So we can tell that the data is
- One row per city (perfect)
- Includes the metro area, state, county etc (not really  necessary)
- And the observed rent (the mean of the 35th to 65th percentile, per Zillow).

Great! 

Next I want to isolate only the cities I particularly care about for this analysis. For this purpose, that's cities I've lived in:
- Dallas, TX
- Cambridge, MA
- Brooklyn, NY
- Oakland, CA
- San Francisco, CA

... and cities where I'm curious about tracking their affordability over time, since I'm curious how the pandemic and remote work boom has affected them:
- Portland, OR
- Seattle, WA
- Miami, FL

Let's isolate that data now. I have a feeling the data won't be as neatly set up as I hope, but first pass:

In [26]:
# Filter for specific cities of interest
cities_of_interest = ['New York','Brooklyn', 'Dallas', 'Cambridge', 'Oakland', 'San Francisco', 'Portland', 'Seattle', 'Miami']
filtered_df = df[df['RegionName'].isin(cities_of_interest)]

# Display the filtered dataframe
print("Filtered DataFrame:")
print(filtered_df)

Filtered DataFrame:
      RegionID  SizeRank     RegionName RegionType StateName State  \
0         6181         0       New York       city        NY    NY
9        38128         9         Dallas       city        TX    TX
17       20330        17  San Francisco       city        CA    CA
20       12700        20          Miami       city        FL    FL
24       16037        24        Seattle       city        WA    WA
25       13373        25       Portland       city        OR    OR
51       13072        51        Oakland       city        CA    CA
355       3934       360      Cambridge       city        MA    MA
521      24307       526         Dallas       city        GA    GA
795      40415       808       Portland       city        ME    ME
2191     51636      2699         Dallas       city        OR    OR
2591      6584      3611       Portland       city        TX    TX
2969     13076      5333        Oakland       city        TN    TN

                                        Metro            CountyName  \
0       New York-Newark-Jersey City, NY-NJ-PA         Queens County
9             Dallas-Fort Worth-Arlington, TX         Dallas County
17         San Francisco-Oakland-Berkeley, CA  San Francisco County
20    Miami-Fort Lauderdale-Pompano Beach, FL     Miami-Dade County
24                Seattle-Tacoma-Bellevue, WA           King County
25        Portland-Vancouver-Hillsboro, OR-WA      Multnomah County
51         San Francisco-Oakland-Berkeley, CA        Alameda County
355            Boston-Cambridge-Newton, MA-NH      Middlesex County
521      Atlanta-Sandy Springs-Alpharetta, GA       Paulding County
795               Portland-South Portland, ME     Cumberland County
2191                                Salem, OR           Polk County
2591                       Corpus Christi, TX   San Patricio County
2969                        Memphis, TN-MS-AR        Fayette County

       2015-01-31   2015-02-28  ...   2024-05-31   2024-06-30   2024-07-31  \
0     2519.633872  2532.526220  ...  3471.695054  3507.169000  3527.537949
9     1074.757370  1077.021337  ...  1686.234912  1700.056414  1711.893784
17    2991.486666  3007.852625  ...  3278.580468  3293.747179  3310.850457
20    1696.931325  1710.045692  ...  3013.157125  3016.657193  3023.312929
24    1543.150935  1555.508595  ...  2205.953934  2219.680129  2228.802347
25    1181.526835  1188.075412  ...  1745.314054  1761.890746  1773.154054
51    1786.294639  1807.993950  ...  2423.869775  2430.790549  2445.771075
355   2353.489078  2383.909554  ...  3371.454709  3399.644352  3406.665004
521           NaN          NaN  ...  1927.569169  1931.053428  1958.619318
795   1249.071929  1242.209950  ...  2198.159156  2213.459769  2222.313261
2191          NaN          NaN  ...          NaN          NaN          NaN
2591          NaN          NaN  ...          NaN          NaN          NaN
2969          NaN          NaN  ...  2056.818836  2094.029413  2125.732124

       2024-08-31   2024-09-30   2024-10-31   2024-11-30   2024-12-31  \
0     3530.370179  3514.693097  3492.480172  3468.327426  3453.597591
9     1717.793372  1711.205648  1703.234292  1693.975058  1687.339400
17    3321.167855  3325.684533  3322.857281  3327.932386  3331.304006
20    3021.945148  3027.134927  3022.695098  3011.859621  3011.842500
24    2230.000379  2222.919829  2215.020974  2207.843252  2206.733983
25    1773.367229  1773.794367  1767.767220  1762.637624  1755.430591
51    2455.791259  2453.309510  2450.154958  2442.377459  2451.502483
355   3382.346805  3349.594567  3305.832216  3299.213421  3268.976950
521   1977.442619  1999.434814  1990.063662  1994.075992  1986.116360
795   2231.213464  2236.410464  2203.067004  2203.700502  2170.944778
2191          NaN          NaN          NaN          NaN          NaN
2591          NaN          NaN          NaN          NaN          NaN
2969  2161.587879  2151.643801  2123.157516  2106.995504  2108.770240

       2025-01-31   2025-02-28
0     3458.924544  3488.735636
9     1685.583188  1688.115654
17    3341.320751  3368.329131
20    3010.510068  3019.077588
24    2212.587015  2222.303125
25    1751.675136  1755.175261
51    2461.288463  2473.501589
355   3293.459782  3326.083913
521   1977.317172  1989.391975
795   2171.720988  2161.710648
2191          NaN  1562.500000
2591  2043.640765  2087.500000
2969  2258.346246  2249.166667

[13 rows x 130 columns]

A few findings:
- A few extra cities are included in the data that need to be excluded.
- NYC doesn't split out into the county level data that includes Brooklyn. (Right?)

Let's investigate:

In [24]:
# Look at all regions in the NYC metro area and see if you can narrow down.
nyc_regions = df[df['Metro'] == 'New York-Newark-Jersey City, NY-NJ-PA'][['RegionName', 'State', 'CountyName']]
nyc=nyc_regions[nyc_regions['CountyName'].isin(['New York County', 'Kings County', 'Queens County', 'Bronx County', 'Richmond County'])]
print("\nNYC metro area cities in the dataset:")
print(nyc)

NYC metro area cities in the dataset:
  RegionName State     CountyName
0   New York    NY  Queens County

Bummer. OK, we'll leave that in. Now removing the extra data we don't need, and looking at the result:

In [29]:

# Also, create some states we're not interested in and filter the dataset.
states_to_exclude = ['TN', 'GA', 'ME']
counties_to_exclude = ['San Patricio County'] # removing the extra corpus christi data
filtered_df = filtered_df[~filtered_df['State'].isin(states_to_exclude)]
filtered_df = filtered_df[~filtered_df['CountyName'].isin(counties_to_exclude)]

# Display the filtered dataframe
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
      RegionID  SizeRank     RegionName RegionType StateName State  \
0         6181         0       New York       city        NY    NY
9        38128         9         Dallas       city        TX    TX
17       20330        17  San Francisco       city        CA    CA
20       12700        20          Miami       city        FL    FL
24       16037        24        Seattle       city        WA    WA
25       13373        25       Portland       city        OR    OR
51       13072        51        Oakland       city        CA    CA
355       3934       360      Cambridge       city        MA    MA
2191     51636      2699         Dallas       city        OR    OR

                                        Metro            CountyName  \
0       New York-Newark-Jersey City, NY-NJ-PA         Queens County
9             Dallas-Fort Worth-Arlington, TX         Dallas County
17         San Francisco-Oakland-Berkeley, CA  San Francisco County
20    Miami-Fort Lauderdale-Pompano Beach, FL     Miami-Dade County
24                Seattle-Tacoma-Bellevue, WA           King County
25        Portland-Vancouver-Hillsboro, OR-WA      Multnomah County
51         San Francisco-Oakland-Berkeley, CA        Alameda County
355            Boston-Cambridge-Newton, MA-NH      Middlesex County
2191                                Salem, OR           Polk County

       2015-01-31   2015-02-28  ...   2024-05-31   2024-06-30   2024-07-31  \
0     2519.633872  2532.526220  ...  3471.695054  3507.169000  3527.537949
9     1074.757370  1077.021337  ...  1686.234912  1700.056414  1711.893784
17    2991.486666  3007.852625  ...  3278.580468  3293.747179  3310.850457
20    1696.931325  1710.045692  ...  3013.157125  3016.657193  3023.312929
24    1543.150935  1555.508595  ...  2205.953934  2219.680129  2228.802347
25    1181.526835  1188.075412  ...  1745.314054  1761.890746  1773.154054
51    1786.294639  1807.993950  ...  2423.869775  2430.790549  2445.771075
355   2353.489078  2383.909554  ...  3371.454709  3399.644352  3406.665004
2191          NaN          NaN  ...          NaN          NaN          NaN

       2024-08-31   2024-09-30   2024-10-31   2024-11-30   2024-12-31  \
0     3530.370179  3514.693097  3492.480172  3468.327426  3453.597591
9     1717.793372  1711.205648  1703.234292  1693.975058  1687.339400
17    3321.167855  3325.684533  3322.857281  3327.932386  3331.304006
20    3021.945148  3027.134927  3022.695098  3011.859621  3011.842500
24    2230.000379  2222.919829  2215.020974  2207.843252  2206.733983
25    1773.367229  1773.794367  1767.767220  1762.637624  1755.430591
51    2455.791259  2453.309510  2450.154958  2442.377459  2451.502483
355   3382.346805  3349.594567  3305.832216  3299.213421  3268.976950
2191          NaN          NaN          NaN          NaN          NaN

       2025-01-31   2025-02-28
0     3458.924544  3488.735636
9     1685.583188  1688.115654
17    3341.320751  3368.329131
20    3010.510068  3019.077588
24    2212.587015  2222.303125
25    1751.675136  1755.175261
51    2461.288463  2473.501589
355   3293.459782  3326.083913
2191          NaN  1562.500000

[9 rows x 130 columns]

Perfect. Next we need to `melt` the data-- get one row per observation (long) rather than the current format (wide), which annoyingly has months in the coolumns. In this case, we want to:
- Keep certain columns as identifiers (RegionName, State, Metro, etc.)
- Melt all the date columns into two new columns:
-- One for the date
-- One for the rent value

In [35]:
# Keep these columns as identifiers
id_vars = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 
           'State', 'Metro', 'CountyName']

# Melt the dataframe
melted_df = pd.melt(filtered_df, 
                   id_vars=id_vars,
                   var_name='Date',  # This will be the new column for dates
                   value_name='Rent')  # This will be the new column for rent values

# Let's take a look.
melted_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Rent
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2015-01-31,2519.633872
1,38128,9,Dallas,city,TX,TX,"Dallas-Fort Worth-Arlington, TX",Dallas County,2015-01-31,1074.757370
2,20330,17,San Francisco,city,CA,CA,"San Francisco-Oakland-Berkeley, CA",San Francisco County,2015-01-31,2991.486666
3,12700,20,Miami,city,FL,FL,"Miami-Fort Lauderdale-Pompano Beach, FL",Miami-Dade County,2015-01-31,1696.931325
4,16037,24,Seattle,city,WA,WA,"Seattle-Tacoma-Bellevue, WA",King County,2015-01-31,1543.150935
5,13373,25,Portland,city,OR,OR,"Portland-Vancouver-Hillsboro, OR-WA",Multnomah County,2015-01-31,1181.526835
6,13072,51,Oakland,city,CA,CA,"San Francisco-Oakland-Berkeley, CA",Alameda County,2015-01-31,1786.294639
7,3934,360,Cambridge,city,MA,MA,"Boston-Cambridge-Newton, MA-NH",Middlesex County,2015-01-31,2353.489078
8,51636,2699,Dallas,city,OR,OR,"Salem, OR",Polk County,2015-01-31,NaN
9,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2015-02-28,2532.526220

Looking good.